<mat-card>
	<mat-card-title>Excluir Produto</mat-card-title>
	<form>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Nome"
				[value]="product.name"
				name="name"
				disabled
			/>
		</mat-form-field>
		<mat-form-field>
			<input
				type="number"
				matInput
				placeholder="Preço (R$)"
				[value]="product.price"
				name="price"
				disabled
			/>
		</mat-form-field>
	</form>

	<mat-form-field>
		<input
			[(ngModel)]="product.isPrime"
			matInput
			placeholder="Prime (Sim ou Não)"
			name="isPrime"
			disabled
		/>
	</mat-form-field>

	<br />

	<button mat-raised-button (click)="deleteProduct()" color="warn">
		Excluir
	</button>

	<button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
