<mat-card>
	<mat-card-title>Editar Produto</mat-card-title>
	<form>
		<mat-form-field>
			<input
				type="text"
				matInput
				placeholder="Nome"
				[(ngModel)]="product.name"
				name="name"
			/>
		</mat-form-field>
		<mat-form-field>
			<input
				type="number"
				matInput
				placeholder="Preço (R$)"
				[(ngModel)]="product.price"
				name="price"
			/>
		</mat-form-field>

		<mat-form-field>
			<input
				[(ngModel)]="product.isPrime"
				matInput
				placeholder="Prime (Sim ou Não)"
				name="isPrime"
			/>
		</mat-form-field>
	</form>

	<button mat-raised-button (click)="updateProduct()" color="primary">
		Atualizar
	</button>

	<button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
